*{
    margin: 0px;
    padding: 0px;
}
.container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    background-image: url(https://res.cloudinary.com/feature-fm/image/fetch/s--IS6xrwXV--/w_424,h_424,c_lfill/c_scale,fl_relative,w_1.1/e_blur_region:800/f_auto/https%3A%2F%2Fimagestore.ffm.to%2Flink%2Fd27d55b5e180206564f6ab43fa728f54.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}


div.profile-container {
    /* note: i am hard coding these values because i am just building up the skeleton of the app. */
    width: 350px;
    height: 950px;
    background-color: white;
    margin-top: 50px;
    border-radius: 12px;
}
div.song-information-section {
    background-color: rgb(65, 64, 64);
    text-align: center;
    color: white;
    padding: 10px 0px;
}

div.cover-art-section img {
    width: 350px;
    height: 400px;
    border-radius: 6px;
    /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7); */
}
a.btn:hover {
    background-color: rgb(78, 190, 255);
    border-radius: 5px;
}
a.btn {
    border: 1px solid #000;
    width: 80px;
    padding: 5px 0px;
    border-radius: 5px;
}
a {
    text-decoration: none;
    color: black;
    text-align: center;
}
ul {
    list-style: none;
}
.streaming-platform-1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    border-bottom: 1px solid #000;
    align-items: center;
}
.tube {
    width: 45%;
}

